
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 20px 20px 20px 30px;
    margin:20px 0;
}
.container > h2{
    font-family: 'Poppins';
    font-weight: 500;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: start;
    
}


.player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player .title{
    margin-left: 10px;
}
.player .title h2{
    font-weight: bold;
}
.single-player img{
    width: 56px;
    height:56px;
}

hr{
    border: 1px solid #D1D1D1;
}
/*------------------------
     Blogs styles
------------------------ */

.blogs{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:45px;
}

.blog{
    display: flex;
    gap: 20px;
    align-items: center;
}

.pic img{
    width:224px;
    height:127px;
}
.blog .blg-title h2{
font-weight: 500;
font-size: 20px;
color: #000000;
margin:0px ;

}
.blog .blg-title p{
    color:#9F9F9F;
}
.blog .blg-title p a{
    text-decoration: none;
}
/*-----------------
     late course
--------------- */
.late-course{
    width: 870px;
    background-color: #FFFFFF;
    padding: 20px 20px 20px 30px;
    margin:20px 0;
}
.footer{
    display: flex;
    gap:25px;
    align-items: stretch;
}
.late-course h2{
    font-family: 'Poppins';
    font-weight: 500;
    color: #562EFF;
}
.image img{
    width: 266px;
    height: 141px;
}

.img-title h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
color: #1E1E1E;
width:170px;
}

.img-title p a{
font-family: 'Roboto';
font-weight: 400;
font-size: 15px;
color: #ED6B4F;
text-decoration: none;
}

.rating{
    display: flex;
    align-items: center;
    gap:15px;
}
.star{
    display: flex;
}

.star .fa-star.icn{
    color: #FFC014;
}
.star .fa-star.unfild{
   color:#AEAEAE
}


